# Симлинк /dev/imu_stm32 для USB-UART адаптера IMU-модуля.
# Оставьте только строку под свой адаптер, остальные закомментируйте.
# Установка: sudo cp udev/99-imu-stm32.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules && sudo udevadm trigger

# ST-Link V2-1 / Nucleo/Discovery VCP (STM32F3Discovery)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", SYMLINK+="imu_stm32", GROUP="dialout", MODE="0660"

# CH340 (дешёвые USB-UART свистки)
# SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="imu_stm32", MODE="0666"

# CP210x (Silicon Labs)
# SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="imu_stm32", MODE="0666"

# FTDI FT232
# SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="imu_stm32", MODE="0666"
